@import '../../styles/colors';

.headerWrapper {
  display: flex;
  flex-direction: column;
  border-top: 48px solid $primary-dark;
  background: $primary;
  align-items: center;
  img {
    margin-top: 48px;
  }
  h1 {
    color: $white;
    margin: 16px 0px 48px;
  }
}

@media only screen and (max-width: 600px) {
  .headerWrapper {
    border-top-width: 20px;
  }
}
